################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Toolbox/.vs
/Toolbox/.vs/Toolbox/v17/.suo
