@page "/"

<PageTitle>@DisplayTexts.HomePageTitle</PageTitle>

@inject InMemoryLogService LogService

<h1>@DisplayTexts.HomeWelcomeTitle</h1>

<p>@DisplayTexts.HomeWelcomeDescription</p>

<p>
    <NavLink class="btn btn-primary" href="card-deck">@DisplayTexts.HomeTarotOverviewButton</NavLink>
</p>

@code {
    [CascadingParameter]
    private MainLayout? Layout { get; set; }

    protected override void OnInitialized()
    {
        LogService.LogDebug($"Seite '{DisplayTexts.HomePageTitle}' initialisiert.");
        Layout?.UpdateCurrentPageTitle(DisplayTexts.HomePageTitle);
    }
}
