@page "/"

<PageTitle>@DisplayTexts.HomePageTitle</PageTitle>

<h1>@DisplayTexts.HomeWelcomeTitle</h1>

<p>@DisplayTexts.HomeWelcomeDescription</p>

<p>
    <NavLink class="btn btn-primary" href="card-deck">@DisplayTexts.HomeTarotOverviewButton</NavLink>
</p>

@code {
    [CascadingParameter]
    private MainLayout? Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout?.UpdateCurrentPageTitle(DisplayTexts.HomePageTitle);
    }
}
