@page "/tests/test-main"

<PageTitle>Tests Hauptseite</PageTitle>

<h1>Tests Hauptseite</h1>

<nav class="test-main-menu">
    <NavLink class="btn btn-primary" href="/tests/test-template">Test Template</NavLink>
</nav>

<p>Wählen Sie ein Ziel aus dem Testmenü.</p>
