@page "/tests"
@page "/tests/main"

<PageTitle>Tests - Programmverteiler</PageTitle>

<h1>Testprogramm-Verteiler</h1>

<p>Bitte wähle eines der verfügbaren Testprogramme.</p>

<div class="tests-menu">
    <div class="menu">
        <NavLink class="btn btn-primary menu-button" href="/tests/test-template">Test-Template</NavLink>
    </div>
</div>
