@page "/"

<PageTitle>@DisplayTexts.HomePageTitle</PageTitle>

<h1>@DisplayTexts.HomeWelcomeTitle</h1>

<p>@DisplayTexts.HomeWelcomeDescription</p>

<p>
    <NavLink class="btn btn-primary" href="tarot">@DisplayTexts.HomeTarotOverviewButton</NavLink>
</p>
