<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Vorhandene Einträge defensiv entfernen, um "duplicate" zu vermeiden -->
      <remove fileExtension=".wasm" />
      <remove fileExtension=".dll" />
      <remove fileExtension=".dat" />
      <remove fileExtension=".pdb" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".gz" />
      <remove fileExtension=".br" />

      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".dll"  mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dat"  mimeType="application/octet-stream" />
      <mimeMap fileExtension=".pdb"  mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff"  mimeType="font/woff" />
      <mimeMap fileExtension=".gz"   mimeType="application/gzip" />
      <mimeMap fileExtension=".br"   mimeType="application/octet-stream" />

      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>

    <!-- Default-Document einschalten, damit /index.html geladen wird -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
