@page "/kartenlegen/tarot-ein-karten-orakel"
@using Toolbox.Models.CardReading
@using Toolbox.Resources
@inherits CardReadingPageBase

<PageTitle>@PageTitleText</PageTitle>

<DeckSelectionBar IsLoading="IsLoadingDecks"
                  DeckOptions="DeckOptions"
                  @bind-SelectedDeck="SelectedDeck"
                  ShowSearchButton="false"
                  SearchEnabled="IsSearchEnabled"
                  OnSearchRequested="HandleSearchRequested" />

<h1>@PageHeaderText</h1>

<TarotCardTable Spread="SpreadDefinition"
                ShowCards="@HasSelectedDeck"
                SelectedDeckId="@SelectedDeck"
                OnDeckLoadingChanged="HandleDeckLoadingChanged" />

@code {
    protected override string PageTitleText => DisplayTexts.CardReadingSingleCardPageTitle;

    protected override string PageHeaderText => DisplayTexts.CardReadingSingleCardPageHeader;

    protected override TarotSpreadLayout SpreadDefinition => TarotSpreadDefinitions.SingleCard;
}
